.page2 {
    padding: 14vmin 5vmin;

    @media screen and (max-width: 460px) {
        padding: 14vmin 2vmin;

    }

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5vmin;

        img {
            max-width: 20.07594rem;
            width: 100%;
        }

        @media screen and (max-width: 460px) {

            img {
                max-width: 15.07594rem;
            }

        }

        .pg2_btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            flex-wrap: wrap;
            width: 100%;

            a {
                max-width: 190px;
                width: 100%;

                button {
                    height: 3.25rem;
                    max-width: 190px;
                    width: 100%;
                    color: #FCF1DB;
                    font-family: Raleway;
                    font-size: 1.25rem;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                    letter-spacing: 0.025rem;
                    background: #822E1B;
                    border: none;
                    padding: 0.3125rem 2.25rem;
                    justify-content: center;
                    align-items: center;
                    gap: 0.625rem;
                    border: 2px solid #822E1B;
                    transition: 200ms all;

                    &:hover {
                        background-color: transparent;
                        color: #822E1B;
                    }
                }
            }


        }

        @media screen and (max-width: 700px) {
            .pg2_btn {
                padding: 3rem 0;
            }
        }

        @media screen and (max-width: 460px) {
            .pg2_btn {
                a {
                    max-width: 150px;

                    button {
                        height: 3.15rem;
                        max-width: 150px;
                        font-size: 1rem;
                        padding: unset;
                    }
                }
            }
        }

        p {
            color: #1A1A1A;
            text-align: center;
            font-family: Raleway;
            font-size: 1.375rem;
            font-style: normal;
            font-weight: 500;
            line-height: 2.0625rem;
            letter-spacing: 0.0275rem;
            max-width: 67.1875rem;
            width: 100%;
            text-align: center;
        }
    }
}

