.page3 {
  background: linear-gradient(rgba(0, 0, 0, 0.166), rgba(0, 0, 0, 0.235)), url(../../../../assets/home-pg3-bg.png) center;
  background-size: cover;
  min-height: 46.25rem;
  position: relative;
  margin: 0 0 15vmin 0;
  @media screen and (max-width: 600px) {
      background: linear-gradient(rgba(0, 0, 0, 0.592), rgba(0, 0, 0, 0.507)), url(../../../../assets/home-pg3-bg.png) center;
      background-size: cover;
  }

  .pg3_btn {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: absolute;
      bottom: 13vmin;
      left: 5vmin;
      gap: 1rem;
      max-width: 700px;
      width: 100%;
      padding: 0 2vmin;

      a {
          max-width: 190px;
          width: 100%;
          text-decoration: none;

          button {
              display: flex;
              max-width: 190px;
              width: 100%;
              height: 3.25rem;
              padding: 0.3125rem 2.25rem;
              justify-content: center;
              align-items: center;
              gap: 0.625rem;
              border: 2px solid #FCF1DB;
              background-color: transparent;
              color: #FFF;
              font-family: Raleway;
              font-size: 1.25rem;
              font-style: normal;
              font-weight: 800;
              line-height: normal;
              letter-spacing: 0.025rem;
              transition: 200ms all;

              &:hover {
                  background-color: #FCF1DB;
                  color: #000000c7;
              }
          }
      }

      @media screen and (max-width: 480px) {
          a {
              max-width: 150px;
              

              button {
                  max-width: 150px;
                  height: 3.15rem;
                  padding: unset;
                  font-size: 1.10rem;
              }
          }
      }
  }

  @media screen and (max-width: 768px) {
      min-height: unset;
      height: 30rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .pg3_btn {
          position: unset;
      }
  }
}
