.menu {

  .menu_pg1 {

      background: url(../../../assets/Menu/MenuBG.png) center;
      background-size: cover;
      margin-bottom: 2rem;

      .main {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          min-height: 18.75rem;

          h1 {
              color: #FCF1DB;
              font-family: Raleway;
              font-size: 3rem;
              font-style: normal;
              font-weight: 800;
              line-height: normal;
              letter-spacing: 0.06rem;
          }

          p {
              max-width: 36.75rem;
              padding: 1rem 1rem 0rem 1rem;
              width: 100%;
              color: #FCF1DB;
              text-align: center;
              font-family: Raleway;
              font-size: 1.3125rem;
              font-style: normal;
              font-weight: 600;
              line-height: 1.75rem;
              letter-spacing: 0.02625rem;
          }
      }
  }

  .menu_pg2 {
      padding: 12vmin 0;

      h1 {
          color: #822E1B;
          font-family: Raleway;
          font-size: 2.5rem;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
          letter-spacing: 0.05rem;
          text-align: center;
      }

      #menu_card {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          padding: 4rem 5vmin;
          gap: 2rem;

          a {
              text-decoration: none;

              .menu_card {
                  border-radius: 2.03025rem;
                  border: 1.805px solid #822E1B;
                  width: 21.5625rem;
                  height: 23.1875rem;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-direction: column;
                  gap: 2rem;
                  cursor: pointer;

                  img {
                      max-width: 17.35881rem;
                      width: 100%;
                      padding: 1rem;
                      height: 190px;

                  }



                  h2 {
                      color: #822E1B;
                      font-family: Raleway;
                      font-size: 1.75rem;
                      font-style: normal;
                      font-weight: 700;
                      line-height: normal;
                      text-align: center;
                      letter-spacing: 0.035rem;
                  }
              }

              @media screen and (max-width: 400px) {
                  .menu_card {
                      width: 18.5625rem;
                  }
              }
          }


      }

      @media screen and (max-width: 600px) {
          #menu_card {
              padding: unset;
              padding: 2rem 0;
          }
      }
  }
}
